.card__btn-like-card {
  width: 22px;
  height: 19px;
  background-image: url(../../../images/cards__btn-like-card.svg);
  border: none;
  margin-bottom: 3px;
}

.card__btn-like-card:hover {
  opacity: 0.5;
}
