.gallery {
  max-width: 880px;
  margin: 0 auto 67px;
}

@media screen and (max-width: 880px) {
  .gallery {
    max-width: 582px;
    margin-bottom: 48px;
  }
}

@media screen and (max-width: 600px) {
  .gallery {
    width: 88%;
  }
}
