.profile__btn-add-card {
  width: 150px;
  height: 48px;
  background-image: url(../../../images/profile__btn-add-card.png);
}

@media screen and (max-width: 600px) {
  .profile__btn-add-card {
    width: 282px;
    height: 50px;
  }
}
