.header {
  max-width: 880px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  padding-bottom: 41px;
  margin: 45px auto 39px;
}

@media screen and (max-width: 980px) {
  .header {
    max-width: 582px;
  }
}

@media screen and (max-width: 640px) {
  .header {
    max-width: 100%;
    padding-bottom: 26px;
    margin: 28px 0 42px;
  }
}
