.profile__btn-edit-profile {
  width: 24px;
  height: 24px;
  background-image: url(../../../images/profile__btn-edit-profile.svg);
  margin-top: 36px;
}

.profile__btn-edit-profile:hover {
  opacity: 0.5;
}

@media screen and (max-width: 640px) {
  .profile__btn-edit-profile {
    width: 18px;
    height: 18px;
    background-image: url(../../../images/profile__btn-edit-profile@640px.svg);
    margin-top: 0;
  }
}
