.profile__user-data {
  max-width: 340px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  margin-left: 30px;
}

@media screen and (max-width: 600px) {
  .profile__user-data {
    justify-content: center;
    align-items: center;
    gap: 7px;
    margin-left: 0;
    margin-top: 22px;
  }
}
