.profile__user-data {
  max-width: 340px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  margin-left: 30px;
}

@media screen and (max-width: 600px) {
  .profile__user-data {
    align-items: center;
    gap: 7px;
    margin-left: 0;
  }
}
