.profile__user-name {
  max-width: 298px;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  margin: 22px 18px 0 0;
}

@media screen and (max-width: 600px) {
  .profile__user-name {
    max-width: 234px;
    font-size: 27px;
    line-height: 33px;
    margin: 0 0 0 22px;
  }
}
