.button {
  border: none;
  border: 1px solid #FFFFFF;
  background-color: inherit;
  background-position: center;
  background-repeat: no-repeat;
  transition: opacity .13s cubic-bezier(0, 0, .23, 1);
  cursor: pointer;
  padding: 0;
}
