.button_place_user-data {
  width: 24px;
  height: 24px;
  margin-top: 36px;
}

@media screen and (max-width: 600px) {
  .button_place_user-data {
    width: 18px;
    height: 18px;
    margin-top: 0;
  }
}
